# Ignore dependencies
node_modules/

# Ignore environment configuration
env.json
env.json
env.json
env.json

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*
app/public/assets/.DS_Store
app/.DS_Store
.DS_Store
